html {
	background-color: #eff3f6;
}

#root {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.container {
	background-color: #252627;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #F2EFE9;
	text-align: center;
}

.nav a:not(:last-child) {
	margin-right: 30px;
}

a {
	color: #F2EFE9;
}

input, select {
	display: block;
	padding: 10px;
	margin: 10px;
	min-width: 300px;
}



