
:root {

	--main-bg-color: #a6e5b3;
}
main h1, main h2 {
	text-align: center;
}

main h1 {
	padding: 2.5rem 0;
}

#features {
 color: #137547;
}

section {
	padding: 2rem 3rem;
	text-align: justify;
}

#introduction {
	background-color: var(--main-bg-color);
}

img {
	width: 100%;
	border-radius: 10px;
}